@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

:root{
    --header-color: #6FAFDF;
    --text-hover: #3c3833;
    --text-color: #000000;
    --bg-color: #fff;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

a:hover{
    color: var(--text-hover);
    transition: color 0.3s ease;
}

.right {
    background-color: var(--bg-color);
    height: 100vh;
    margin-left: 180px;
    padding: 20px;
}

.right h1 {
    text-align: center;
    margin-bottom: 30px;
}

.content{
    height: 90%;
    margin-left: 20px;
    border-radius: 25px;
}

.content-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content-top h3 {
    font-size: 24px;
}

.content-top button {
    border: none;
    align-items: center;
    cursor: pointer;
}

.btn{
    display: flex;
    background-color: white;
    transition: transform 0.3s ease;
    border-radius: 360px;
}

.btn img{
    width: 30px;
    background-color: white;
}

.btn:hover{
    transform: rotate(90deg);
}

.input{
    width:650px;
}

#input-search{
    width: 650px;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.head-section{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}